

.fc-button {
  text-transform: capitalize!important;
  font-size: 0.85rem !important;
}

.fc-prev-button,
.fc-next-button {
  border: none !important;
  margin: 0 1px!important;
}

.fc-addRelease-button {
  height: 33px;
}

.fc-today-button {
  border-radius: 0.25em !important;
  margin-right: 1rem !important;
}

.fc-timegrid-event .fc-event-main > div {
  display: block !important;
}

.fc-event-main h5 {
  font-weight: 800;
}

.fc-event {
  border-radius: 0.5em !important;
  box-shadow: unset !important;
  border: none !important;
}

.fc-direction-ltr .fc-timegrid-col-events {
  margin: 0px 5% 0px 2px;
}

.fc .fc-toolbar {
  justify-content: flex-start;
}



.fc-header-toolbar .fc-toolbar-chunk:nth-of-type(2) > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.fc-addRelease-button {
  background-color:#007a33!important;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-of-type(2) {
  width: 100%;
}


.fc-non-business {
  background: none !important;
}

.event-content {
  display: flex;
  padding: 0.25rem;
  color: #fff;
}

.event-content span {
  text-transform: capitalize;
  display: inline-block;
}

.fc-timegrid-body .event-content {
  padding: 0.5rem;
}

.fc-timegrid-body .event-content p,
.fc-timegrid-body .event-content time {
  display: block;
  margin-bottom: 10px;
  margin-left: 0;
}

.fc-event-past .event-content {
  color: #8b8b8b!important;
}


.fc-event-past.bg--svu {
  background-color: rgba(87, 87, 248, 0.5);
}

.bg--svu {
  background-color: #5757f8;
}

.fc-event-past.bg--ptf {
  background-color: rgba(67, 173, 179, 0.5);
}

.bg--ptf {
  background-color: #43adb3;
}

.fc-event-past.bg--fs {
  background-color: rgba(249, 94, 94, 0.5);
}

.bg--fs {
  background-color: #f95e5e;
}

.is--dark-theme .fc .fc-button-group .fc-button-primary {
  border: 1px solid currentColor;
  background-color: transparent;
  text-transform: capitalize;
}

.is--dark-theme .fc .fc-button-group .fc-button-primary.fc-button-active {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}
